<div class="user-posts">
  <div class="user">
    <img src=<%= @user.photo %> alt="User photo">
    <div class="info">
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>
  <div class="posts">
    <% @user.posts.each_with_index do |post, i| %>
      <div class="post">
        <div class="post-body">
          <h4>
            <%= link_to "post ##{i+1}", user_post_path(@user.id, post.id) %>
          </h4>
          <strong><p><%= post.title %></p></strong>
          <p><%= post.text %></p>
        </div>
        <div class="stats">
          <span>likes: <%= post.likes.count %></span>,
          <span>comments: <%= post.comments.count %></span>
        </div>
        <div class="comments-section">
          <% post.last_5_comments.each do |comment| %>
            <div class="comment">
              <span><%= comment.author.name %>: </span>
              <span><%= comment.text %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <a href=<%= user_path(@user.id) %>>Back</a>
  </div>
</div>