<section class="post-form">
  <h3>Create a new Post:</h3>
  <%= form_with model: @post url: user_posts_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.submit "Create Post"%>
  <% end %>
</section>
